<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Dear Employee, you are WELCOME!</h2>
<br>
<p th:text="${'Your name, ' + employee.name}">VALUE</p>
<p th:text="${'Your surname, ' + employee.surname}">VALUE</p>
<p th:text="${'Your salary, ' + employee.salary}">VALUE</p>
<p th:text="${'Your phone number, ' + employee.phoneNumber}">VALUE</p>
<p th:text="${'Your email, ' + employee.email}">VALUE</p>
<p th:text="${'Your department, ' + employee.department}">VALUE</p>
<p th:text="${'Your car choice, ' + employee.carBrands}">VALUE</p>
<p th:text="${'Foreign languages, ' + employee.languages}">VALUE</p>
<br>
<br>
<a href="/askDetails">Back!</a>
</body>
</html>